.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  padding: 0 16px;
}

.modal_opened {
  visibility: visible;
}

.modal__container {
  background-color: white;
  padding: 32px 50px;
  border-radius: 8px;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 32px;
}

.modal__close-btn {
  background-image: url(/images/close.svg);
  background-size: contain;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  height: 40px;
  width: 40px;
  opacity: 0.4;
  border: none;
  transition: opacity 0.1s;
  cursor: pointer;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__title {
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  padding: 16px 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  cursor: pointer;
  height: 52px;
  box-sizing: border-box;
}

.modal__input:hover {
  border-color: rgb(33, 33, 33);
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.3);
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  background-color: rgb(33, 33, 33);
  color: rgb(252, 245, 229);
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__header {
    margin: 0 0 24px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__input {
    font-size: 16px;
    height: 48px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-btn {
    width: 100%;
  }
}
