.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 420px;
}

.profile__name {
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #212121;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  margin: 0;
  margin-top: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: rgba(33, 33, 33, 0.7);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-btn {
  margin-top: auto;
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: rgba(33, 33, 33, 0.7);
  transition: color 0.2s;
  cursor: pointer;
}

.profile__edit-btn:hover {
  color: #212121;
}

.profile__edit-btn:hover .profile__edit-icon {
  opacity: 1;
}

.profile__edit-icon {
  margin-right: 8px;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.profile__add-btn {
  margin-left: auto;
  height: 52px;
  width: 149px;
  border: none;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  margin-top: 138px;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.2s;
}

.profile__add-btn:hover {
  opacity: 0.8;
}

.profile__add-icon {
  margin-right: 8px;
  height: 12px;
  width: 12px;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding: 20px 0 20px;
  }

  .profile__avatar {
    margin-right: 0;
    height: 80px;
    width: 80px;
    border-radius: 8px;
  }

  .profile__name {
    margin-top: 12px;
    font-size: 20px;
  }

  .profile__description {
    margin-top: 6px;
  }

  .profile__edit-btn {
    justify-content: center;
    margin-top: 32px;
  }

  .profile__add-btn {
    margin: 20px 0 0;
    width: 100%;
  }
}
